<h1>Welcome!</h1>
<p>Welcome to library example application!</p>
<p>This is example application intended to showcase features of ASP.NET Core 3.0, Angular client, Docker and CI/CD behind it.</p>
<h2>Features</h2>
<p>Feature-wise the application is a simple library application.</p>
<h4>Done</h4>
<ul>
  <li>Displaying and editing books</li>
</ul>
<h4>TODO</h4>
<ul>
  <li>Import books list</li>
  <li>Borrowing and returning books</li>
  <li>User administration : Admins, Library clerks, Readers, Guests</li>
</ul>
 
<h2>Technology</h2>
<h4>Implemented</h4>
<ul>
  <li>Code is hosted on <a href="https://github.com/Euphoric/LibraryWebsite">Github</a></li>
  <li>Backend is APS.NET Core 3.0 in C#</li>
  <li>Frontend is Angular 7 with Typescript</li>
  <li>CI is done using <a href="https://circleci.com/gh/Euphoric/LibraryWebsite/tree/master">CircleCI</a></li>
  <li>Docker image of the application is built by CI</li>
  <li>Unit tests are run for C# and Angular</li>
  <li>End-to-end tests are run on CI in Docker, using Selenium in C#.</li>
</ul>

<h4>TODO</h4>
<ul>
  <li>Implement and CI run database tests and database migration tests</li>
  <li>Continuous Deployment of application</li>
  <li>Logging and monitoring</li>
</ul>
