<h1>Books</h1>
<button [routerLink]="['/book-edit']" class="btn btn-info">Add Book</button>
<table class="table">
  <thead>
    <tr>
      <th> Title </th>
      <th> Author </th>
      <th> Description </th>
      <th> ISBN-13 </th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tr *ngFor="let book of books | paginate: config">
    <td>
      {{book.title}}
    </td>
    <td>
      {{book.author}}
    </td>
    <td>
      {{book.description}}
    </td>
    <td>
      {{book.isbn13}}
    </td>
    <td>
      <button class='btn btn-info' [routerLink]="['/book-edit', book.id]">Change</button>
    </td>
    <td>
      <button class='btn btn-info' (click)="onDelete(book)" >Delete</button>
    </td>
  </tr>
</table>
<pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
