<h1>Add book</h1>
<form (ngSubmit)="onSubmit()" #bookForm="ngForm">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" [(ngModel)]="model.title" name="title" required>
  </div>
  <div class="form-group">
    <label for="author">Author</label>
    <input type="text" class="form-control" id="author" [(ngModel)]="model.author" name="author" required>
  </div>
  <div class="form-group">
    <label for="isbn13">ISBN 13</label>
    <input type="text" class="form-control" id="isbn13" [(ngModel)]="model.isbn13" name="isbn13" required>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" id="description" [(ngModel)]="model.description" name="description">
  </div>

  <button type="submit" class="btn btn-success">Save</button>

</form>

<div [hidden]="!submitted">Success!</div>
